// GENERAL
$white: #ffffff;
$black: #222222;
$bg-grey: #f3f3f3;
$dark-grey: #464646;
$mid-grey: #5B605F;
$light-grey: #A1A194;

$dark-orange: #FF6600;
$mid-orange: #FF9230;
$light-orange: #FFB557;

// DESIGN SPECIFIC


//FONTS
$font-size: 16px;

// LAYOUT
$max-width: 100%;

$padding: 22px;
$gutter: 25px;

//MISC
$animDuration: 0.4s;

// TYPEFACES

$primary-type-bold: 'Brandon Grot W01 Black';
$primary-type-med: 'Brandon Grot W01 Medium';
$primary-type-light: 'Brandon Grot W01 Light';

$secondary-type-bold: 'HelveticaNeueW02-75Bold';
$secondary-type-med: 'Helvetica Neue LT W06_55 Roman';
$secondary-type-light: 'HelveticaNeueW02-45Ligh';
