<video autoplay loop poster="images/ember-earth.png" id="bgvid">
{{!-- <source src="ember-earth.webm" type="video/webm"> --}}
<source src="images/long-winded.mp4" type="video/mp4">
</video>

<div class="container">
  <h1 class="title">Ember London</h1>
  <h3 class="slogan">Slack Community is all about...</h3>

  {{typed-input}}

  <div class="apply">
    <a class="waves-effect waves-light btn-large orange darken-1">Request invite</a>
  </div>


</div>



{{outlet}}
